{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" id="zola-blog-css" href="/blog.css" type="text/css" media="all">
{% endblock head %}

{% block content %}

<header>
  <div class="image-container">
    <img src="http://www.gravatar.com/avatar/dd383cf768b558e28f7753a1014b82a0?s=200" alt="image"
    class="rounded-full">
  </div>
  <h1 class="p20 mb0 bg-#334155 color-white">
    {{ section.title }}
  </h1>
</header>

<section class="md-flex bg-slate-100">

  <ul class="leftnav flex-shrink bg-#334155 p10">
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    {% for page in section.pages %}
    <li class="
               p10 pt5 pb5 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4
               m-6
               ">
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <section class="blog-section-body content fill hover:m5:hover flex-grow bg-yellow">
  </section>

</section>
{% endblock content %}
