<div class="container">
  <navmenu></navmenu>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 hidden-xs">
      <div class="well">
        <div class="row">
          <img src="http://placehold.it/300x300" alt="Diaa Mohamed Kasem picture"
          class="img-rounded img-responsive" />
        </div>
        <div class="row">
          <h4> Diaa Mohamed Kasem</h4>
          <small><cite title="Cairo, Egypt">Cairo, Egypt
              <i class="glyphicon glyphicon-map-marker"></i>
            </cite>
          </small>
          <p>
          <i class="glyphicon glyphicon-envelope"></i>me@diaa.me
          <br />
          <i class="glyphicon glyphicon-github"></i>
          <a href="https://github.com/zxeem">
            https://github.com/zxeem
          </a>
          <br />
          <i class="glyphicon glyphicon-gift"></i>Feb 17, 1987</p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-7 col-sm-7 col-xs-12">
      <div ng-transclude></div>
    </div>
  </div>
</div>
