<div class="container">
  <navmenu></navmenu>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 hidden-xs">
      <div class="well">
        <div class="row">
          <center>
            <img src="images/diaa.jpeg" alt="Diaa Mohamed Kasem picture"
            class="img-rounded img-responsive"/>
          </center>
        </div>
        <div class="row" style="text-align: center">
            <h4> Diaa Kasem</h4>
            <small><cite title="Cairo, Egypt">
                <i class="glyphicon glyphicon-map-marker"></i>
                Cairo, Egypt
              </cite>
            </small>
            <p>
            <i class="glyphicon glyphicon-envelope"></i>
            me@diaa.me
            </p>

            <p>
            <i class="glyphicon glyphicon-glob"></i>
            <a href="https://github.com/zxeem">
              Github
            </a>
            </p>

            <p>
            <i class="glyphicon glyphicon-twitter"></i>
            <a href="http://twitter.com/diaa_kasem">
              Twitter
            </a>
            </p>

            <p>
            <i class="glyphicon glyphicon-glob"></i>
            <a href="http://about.me/diaa.kasem">
              About.me
            </a>
            </p>

            <p>
            <i class="glyphicon glyphicon-glob"></i>
            <a href="https://www.odesk.com/users/~019c6c183545f26f3f">
              oDesk
            </a>
            </p>

          </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-7 col-sm-7 col-xs-12">
      <div ng-transclude></div>
    </div>
  </div>
</div>
