body {
  flex-direction: column;

  header {
    flex-direction: row;
    display: flex;
    flex: 1 0 auto;
    align-items: stretch;
    background-color: #334155;
    padding: 20px;

    div.image-container {
      flex: 0 1 auto;
    }
    h1 {
      flex: 1 0 auto;
      color: white;
      // font-size: 3.5em;
      margin: 0;
      padding: 0;
    }
  }

  ul {
    li {
    }
  }

  .blog-section-body  {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }
}

li {
  list-style: none;
}

.main-body-container {
  display: flex;;
  flex-direction: column;
  flex: 1 0 1px;
}
