{% extends "base.html" %}
{% block content %}

<div id="top"></div>
<section id="home" class="sugar-container" aria-labelledby="home-heading">
  <div class="container wrap">
    <div class="hero3d-wrapper">
      <div class="hero3d-perspective">
        <div class="hero3d-card" id="hero3d-card" aria-labelledby="home-heading">
          <div class="hero3d-glow"></div>
          <div class="hero3d-inner">
            <div class="hero3d-avatar">
              <img loading="eager" src="http://www.gravatar.com/avatar/dd383cf768b558e28f7753a1014b82a0?s=200"
                alt="Portrait of Diaa Kasem" />
            </div>
            <div class="hero3d-content">
              <p class="hero3d-kicker">Hello, I'm</p>
              <h1 id="home-heading" class="hero3d-name">Diaa Kasem</h1>
              <p class="hero3d-role">Senior Software Engineer</p>
              <p class="hero3d-meta">
                Currently at
                <a href="https://www.meetsoci.com/" target="_blank" rel="noopener noreferrer">SOCi</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="about" class="cream-container parallax" data-speed="1" data-offsetY="-150">
  <div class="icon-container">
    <div><span class="glyphicons user"><i></i></span></div>
  </div>
  <div class="container wrap">

    <div class="row">
      <div class="col dimfull text-center">
        <h2>About Me</h2>
        <p class="intro big">
          I am a Senior Software Engineer at
          <a href="https://meetsoci.com" title="SOCi" target="_blank" rel="noopener noreferrer">SOCi</a>,
          where I help build cloud-native products for multi-location and local businesses. Previously, I led
          engineering efforts at
          <a href="https://muso.ai" title="MUSO.AI" target="_blank" rel="noopener noreferrer">Muso.ai</a>
          and founded Qarii, shipping multiple products end to end.
        </p>
        <p>
          Day to day I work mainly with modern JavaScript and Node.js, building web applications and APIs with
          React, Vue, Next.js, D3.js, and related tooling. I also use Python, PHP, and Rust where they fit best to
          deliver reliable, maintainable systems.
        </p>
        <p>
          On the data and infrastructure side, I work with PostgreSQL, MySQL, MongoDB, AWS Neptune, and Redis,
          running on AWS and containerized with Docker. I rely on services like AWS Lambda, SQS, SNS, and tools
          such as Terraform, Ansible, Jenkins, NeoVIM, and shell scripting to automate deployments and streamline
          development.
        </p>
      </div>
    </div>

  </div>
</div>
<div id="personalinfo" class="coffee-container parallax" data-speed="2" data-offsetY="-150">
  <div class="icon-container">
    <div><span class="glyphicons nameplate"><i></i></span></div>
  </div>
  <div class="container wrap">
    <div class="row">
      <div class="col dimfull text-center">
        <h2>Personal Information</h2>
        <dl class="row">
          <dt class="col dim1half text-right padright">Address</dt>
          <dd class="col dim1half text-left padleft">Cairo<br />Egypt</dd>
          <dt class="col dim1half text-right padright">Email</dt>
          <dd class="col dim1half text-left padleft">
            <a href="mailto:me@diaa.me">me@diaa.me</a>
          </dd>
          <dt class="col dim1half text-right padright">Upwork Profile</dt>
          <dd class="col dim1half text-left padleft">
            <a href="https://www.upwork.com/users/~019c6c183545f26f3f" target="_blank" rel="noopener noreferrer">
              Upwork profile
            </a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div id="education" class="cream-container parallax" data-speed="4" data-offsetY="-150">
  <div class="icon-container">
    <div><span class="glyphicons certificate"><i></i></span></div>
  </div>
  <div class="container wrap">
    <div class="row">
      <div class="col dimfull text-center">
        <h2>Education</h2>
        <div class="position2 row">
          <div class="col dim1third text-right padright">
            <div class="date-detail">from 2003 to 2007</div>
            <h3>University of Ain-Shams University</h3>
            <p><strong>Cairo</strong></p>
          </div>
          <div class="col dim2thirds text-left padleft post-content">
            <h4>Major Degree of Computers and Information Sciences</h4>
            <p>This is where I ended up a computer geek .. wooohooo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="employment" class="coffee-container parallax" data-speed="8" data-offsetY="-150">
  <div class="icon-container">
    <div><span class="glyphicons share_alt"><i></i></span></div>
  </div>
  <div class="container wrap">
    <div class="row">
      <div class="col dimfull text-center">
        <h2>Employment</h2>
        <p class="intro">
          I have been a Software Engineer for 15 years.
        </p>
        <p class="intro">
          Below is a list of the positions I filled along the way.
        </p>

        <div class="date-detail">from 2022 to Infinity and Beyond </div>
        <div class="position">
          <h3>SOCi</h3>
          <h4>Senior Software Engineer</h4>
          <p>Working with a great team to build products that help local businesses grow.</p>
          <p>
            The platform is built with Docker, MySQL, PHP, AWS (RDS, ECR, Lambda, SQS, SNS, ElastiCache/Redis),
            Node.js, and Go.
          </p>
          <div class="more">
            <a class="btn" href="http://www.meetsoci.com" target="_blank">
              Project Website
            </a>
          </div>
        </div>


        <div class="date-detail">from 2019 to 2022</div>
        <div class="position">
          <h3>Muso.ai</h3>
          <h4>Tech Lead</h4>
          <p>Led a great team building a leading music credits platform.</p>
          <p>
            The project used Docker, PostgreSQL, Gremlin, AWS (Neptune, ECR, Lambda, SQS, SNS, ElastiCache/Redis),
            Vue.js, and Node.js.
          </p>
          <div class="more">
            <a class="btn" href="http://www.muso.ai" target="_blank">
              Project Website
            </a>
          </div>
        </div>

        <div class="date-detail">from 2017 to 2019</div>
        <div class="position">
          <h3>Qarii</h3>
          <h4>CEO and Founder of Qarii Software Company</h4>
          <p>
            Built and iterated on multiple products, learning a lot about the business side in the process, including
            <a href="https://wasmissing.com" target="_blank" rel="noopener noreferrer">Was Missing</a>,
            <a href="https://theokr.com" target="_blank" rel="noopener noreferrer">The OKR</a>,
            <a href="https://marketmsr.com" target="_blank" rel="noopener noreferrer">MarketMSR</a>, and other smaller
            projects like <strong>Filterlike</strong>, <strong>QPinger</strong>, and <strong>Desaigns</strong>.
          </p>
          <div class="more">
            <a class="btn" href="http://www.qarii.com" target="_blank">
              Project Website
            </a>
          </div>
        </div>

        <div class="date-detail">from 2016 to 2018</div>
        <div class="position">
          <h3>Tqweem</h3>
          <h4>Tqweem Head Of Engineers</h4>
          <p>
            Led a team building an e-learning application focused on identifying and addressing student difficulties to
            help them understand and succeed.
          </p>
          <p>
            The project used Docker, InfluxDB, Jenkins, AngularJS, Node.js, Django, Tastypie, RequireJS, Jasmine,
            Bootstrap 3, CSS3, Less, and HTML5.
          </p>
          <div class="more">
            <a class="btn" href="http://www.tqweem.com" target="_blank">
              Project Website
            </a>
          </div>
        </div>

        <div class="date-detail">from 2014 to 2016</div>
        <div class="position">
          <h3>Elproff - Academy 77</h3>
          <h4>Elproff Technical Team Leader</h4>
          <p>
            Led a team building an e-learning application focused on helping students understand and succeed.
          </p>
          <p>
            The project used AngularJS, Node.js, Django, Tastypie, RequireJS, Jasmine, Bootstrap 3, CSS3, Less, and
            HTML5.
          </p>
          <div class="more">
            <a class="btn" href="http://www.tqweem.com" target="_blank">
              Now its known as Tqweem
            </a>
          </div>
        </div>

        <div class="date-detail">from 2013 to 2014</div>
        <div class="position">
          <h3>Upwork - Freelancer</h3>
          <h4>Web Solutions Developer</h4>
          <p>I worked as a freelance web solutions developer on Upwork.</p>
          <p>
            Technologies included JavaScript, AngularJS, Node.js, D3.js, Express.js, Rust, CoffeeScript, RequireJS,
            Socket.io, Jasmine, Python (Flask), MongoDB, RethinkDB, Parse.com (Parse API), Bootstrap 3, CSS3, Less,
            HTML5, and Pug templates.
          </p>
          <div class="more">
            <a class="btn" href="https://www.upwork.com/users/~019c6c183545f26f3f" target="_blank">Check My Profile</a>
          </div>
        </div>

        <div class="date-detail">from 2012 to 2013</div>
        <div class="position">
          <h3>CodeScalers</h3>
          <h4>Solutions Developer</h4>
          <p>
            Worked with a great team developing a cloud computing management solution, specializing in front-end
            technologies such as JavaScript, AngularJS, D3.js, Lodash, jQuery, jQuery Templates, Less, CoffeeScript,
            Jasmine, and Karma.
          </p>
          <div class="more">
            <a class="btn" href="http://incubaid.com/" target="_blank">Company website</a>
          </div>
        </div>

        <div class="date-detail">from 2010 to 2012</div>
        <div class="position last">
          <h3>Integrant Inc.</h3>
          <h4>Software Engineer</h4>
          <p>
            Worked with a team developing CRM software for an advertising
            agency using GWT, GXT, Spring, Hibernate, Quartz,
            Apache CXF Web Services and JMS Technologies using OpenMQ.
          </p>
          <div class="more">
            <a class="btn" href="http://www.integrant.com/" target="_blank">Company website</a>
          </div>
        </div>

        <div class="date-detail">from 2009 to 2010</div>
        <div class="position last">
          <h3>iCraft</h3>
          <h4>JBoss Administrator</h4>
          <p>
            Outsourced to RAYA Software and Bull companies as a JBoss (AS) consultant/administrator on a project for
            the Egyptian Tax Authority, tuning JBoss AS performance and managing clustering and load balancing.
          </p>
        </div>

        <div class="date-detail">from 2008 to 2010</div>
        <div class="position last">
          <h3>XTEND</h3>
          <h4>Software Engineer</h4>
          <p>
            Developed communication software that enabled users to interact with their Facebook accounts via SMS using
            Groovy, Java, PHP, Yahoo Pipes, Facebook APIs, Google Reader Java APIs, JSON, XML, Java Reflection, and
            RMI.
          </p>
        </div>

        <div class="date-detail">from 2007 to 2007</div>
        <div class="position last">
          <h3>Arabsoftware.net</h3>
          <h4>PHP Developer</h4>
          <p>I worked as a PHP freelancer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="services" class="cream-container parallax" data-speed="12" data-offsetY="-150">
  <div class="icon-container">
    <div><span class="glyphicons ok_2"><i></i></span></div>
  </div>
  <div class="container wrap">
    <div class="row">
      <div class="col dimfull text-center">
        <h2>What I Do</h2>
        <p class="intro">
          Deep inside I'm a software engineer, I
          love to think and know how things work and improve.
          <br />
          And these are some of the languages and tools I use
        </p>
        <div class="row services">
          <div class="col dim1third">
            <img loading="lazy" src="/images/nodejs.png" alt="Node.js logo">
            <h3>NodeJS</h3>
            <p>I have been building production systems with Node.js for many years.</p>
          </div>
          <div class="col dim1third">
            <img loading="lazy" src="/images/angularjs.png" alt="React and Vue logo">
            <h3>React &amp; Vue</h3>
            <p>I build modern front-end applications with React and Vue, often paired with Next.js for full-stack experiences.</p>
          </div>
          <div class="col dim1third">
            <img loading="lazy" src="./images/d3.svg" alt="D3.js logo">
            <h3>D3JS</h3>
            <p>I use the D3.js visualization library to create interactive, data-rich visualizations and dashboards.</p>
          </div>
          <span class="clear"></span><span class="spacer"></span>
          <div class="col dim1third">
            <img loading="lazy" src="/images/mongodb.png" alt="MongoDB logo">
            <h3>MongoDB</h3>
            <p>I rely on MongoDB (alongside SQL databases) for flexible, document-based data storage in many services.</p>
          </div>
          <div class="col dim1third">
            <img loading="lazy" src="/images/Octocat.png" alt="GitHub Octocat logo">
            <h3>GitHub</h3>
            <p>I use Git and GitHub to collaborate, review code, and automate CI/CD workflows.</p>
          </div>
          <div class="col dim1third">
            <img loading="lazy" src="./images/rust.png" alt="Rust programming language logo">
            <h3>Rust</h3>
            <p>I have experience with Rust for systems programming and web development with frameworks like Rocket.</p>
          </div>
          <div class="col dim1third">
            <img loading="lazy" src="./images/vim.png" alt="Vim editor logo">
            <h3>NeoVIM</h3>
            <p>I live in NeoVIM, using it with shell scripting to stay fast and productive.</p>
          </div>
          <div class="col dim1third">
            <img loading="lazy" src="./images/docker.png" alt="Docker logo">
            <h3>Docker</h3>
            <p>Docker is at the core of how I package, isolate, and ship microservices and development environments.</p>
          </div>
          <div class="col dim1third">
            <img loading="lazy" src="./images/aws-lambda.png" alt="AWS Lambda logo">
            <h3>AWS Lambda</h3>
            <p>I use AWS Lambda and other AWS services (such as SQS, SNS, RDS, and ElastiCache) to build serverless and event-driven systems.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="skills" class="coffee-container parallax" data-speed="16" data-offsetY="-150">
  <div class="icon-container">
    <div><span class="glyphicons cogwheels"><i></i></span></div>
  </div>
  <div class="container wrap">
    <div class="row">
      <div class="col dimfull text-center skills">
        <h2>Skills</h2>
        <p class="intro">
          I am excellent at the following
          <br />
          Modern JavaScript/TypeScript, Node.js, React, Vue, Next.js, D3.js, plus Python, PHP, Rust, and a range of SQL/NoSQL databases.
        </p>
        <div class="row skills-list">
          <div class="col dim1half text-right padright">
            <h3>Web Technologies</h3>
          </div>
          <div class="col dim1half text-left padleft">
            <ul class="skill-tags" aria-label="Web technologies">
              <li><span class="btn">JavaScript</span></li>
              <li><span class="btn">Socket.io</span></li>
              <li><span class="btn">Jasmine</span></li>
              <li><span class="btn">D3.js</span></li>
              <li><span class="btn">React</span></li>
              <li><span class="btn">Vue</span></li>
              <li><span class="btn">Next.js</span></li>
            </ul>
          </div>
          <div class="col dim1half text-right padright">
            <h3>Programming &amp; Data</h3>
          </div>
          <div class="col dim1half text-left padleft">
            <ul class="skill-tags" aria-label="Programming languages and data tools">
              <li><span class="btn">Python</span></li>
              <li><span class="btn">Rust</span></li>
              <li><span class="btn">Node.js</span></li>
              <li><span class="btn">PHP</span></li>
              <li><span class="btn">MongoDB</span></li>
              <li><span class="btn">MySQL</span></li>
              <li><span class="btn">PostgreSQL</span></li>
              <li><span class="btn">Neptune</span></li>
              <li><span class="btn">Gremlin</span></li>
              <li><span class="btn">Redis</span></li>
            </ul>
          </div>
          <div class="col dim1half text-right padright">
            <h3>Tools &amp; Utilities</h3>
          </div>
          <div class="col dim1half text-left padleft">
            <ul class="skill-tags" aria-label="Tools and utilities">
              <li><span class="btn">NeoVIM</span></li>
              <li><span class="btn">Shell scripting</span></li>
              <li><span class="btn">Ansible</span></li>
              <li><span class="btn">Jenkins</span></li>
              <li><span class="btn">Terraform</span></li>
              <li><span class="btn">AWS CLI</span></li>
              <li><span class="btn">Yeoman</span></li>
              <li><span class="btn">Git</span></li>
              <li><span class="btn">Webpack</span></li>
              <li><span class="btn">Less</span></li>
              <li><span class="btn">SCSS</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="portfolio" class="cream-container parallax" data-speed="22" data-offsetY="-150">
  <div class="icon-container">
    <div><span class="glyphicons briefcase"><i></i></span></div>
  </div>
  <div class="container wrap">
    <div class="row">
      <div class="col dimfull text-center">
        <h2>Selected Projects</h2>
        <p class="intro">A small sample of projects I’ve worked on.</p>
        <div class="row portfolio-list">
          <article class="col dim1third portfolio-item">
            <img loading="lazy" src="./images/portfolio/soci.png"
              alt="Screenshot from SOCi, a local marketing platform" />
            <h3>SOCi</h3>
            <p>Senior Software Engineer helping build a platform for multi-location marketing.</p>
          </article>
          <article class="col dim1third portfolio-item">
            <img loading="lazy" src="./images/portfolio/muso.png"
              alt="Screenshot from Muso.ai, a music credits platform" />
            <h3>Muso.ai</h3>
            <p>Tech Lead building a music credits platform for artists and professionals.</p>
          </article>
          <article class="col dim1third portfolio-item">
            <img loading="lazy" src="./images/portfolio/p0.png"
              alt="Sample visualization work using D3.js and modern web stacks" />
            <h3>Data Visualizations</h3>
            <p>Interactive dashboards and visualizations using D3.js and modern web tooling.</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="social" class="coffee-container parallax" data-speed="24" data-offsetY="-150">
  <div class="icon-container">
    <div><span class="glyphicons heart"><i></i></span></div>
  </div>
  <div class="container wrap">
    <div class="row">
      <div class="col dimfull text-center">
        <h2>Social Media</h2>
        <p class="intro">I am not attached to social apps, but, it is nice
          being connected with the visitors of my website.</p>
        <p class="intro">Drop me a line @ one of the following</p>
        <div class="more">
          <a href="https://www.facebook.com/diaa.kasem" class="btn transparent" target="_blank"
            rel="noopener noreferrer" aria-label="Visit my Facebook profile">
            <span class="glyphicons facebook"><i></i></span>Facebook</a>
          <a href="https://twitter.com/diaa_kasem" class="btn transparent" target="_blank" rel="noopener noreferrer"
            aria-label="Visit my Twitter profile">
            <span class="glyphicons twitter"><i></i></span>Twitter</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="contact" class="coffee-container parallax" data-speed="32" data-offsetY="-150">
  <div class="icon-container">
    <div><span class="glyphicons envelope"><i></i></span></div>
  </div>
  <div class="container wrap">
    <div class="row">
      <div class="col dimfull text-center">
        <h2>Contact Me</h2>
        <p class="intro">It will be my pleasure to be contacted by you.</p>
        <p class="intro">Send me a
          <b>(Compliment, Advice, Criticism, or Suggestion)</b>
          email, or whatever you like.
        </p>
        <p class="intro">
          <a href="mailto:me@diaa.me">me@diaa.me</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div id="download" class="cream-container parallax" data-speed="18" data-offsetY="-150">
  <div class="icon-container">
    <div><span class="glyphicons paperclip"><i></i></span></div>
  </div>
  <div class="container wrap">
    <div class="row">
      <div class="col dimfull text-center">
        <h2>Download my Resume</h2>
        <p class="intro">This is a generated resume of my linkedin profile.
          It contains some of my work before I become a fulltime freelancer.</p>
        <p class="intro">For my work as a freelancer, please, visit my
          <a href="https://www.upwork.com/users/~019c6c183545f26f3f" target="_blank" rel="noopener noreferrer">Upwork
            profile.</a>
        </p>
        <a href="/diaa_kasem_resume.pdf" target="_blank" class="btn">Download</a>

      </div>
    </div>
  </div>
</div>

{% endblock content %}
