<layout>

<iframe width="640" height="480" src="//www.youtube.com/embed/24b9g5gRJyk"
  frameborder="0" allowfullscreen></iframe>

<h2> Hi There, </h2>
<p>
I am Diaa Mohamed Kasem.  Web solutions developer. I have been developing
systems using many languages throughout my career.
</p>

<p>I am specialized at Javascript. You can hire me at <a href="https://www.odesk.com/users/~019c6c183545f26f3f">oDesk</a></p>

<p>
I have joined <a href="#/career">several excellent companies</a>,
where I have applied Javascript, Python, Cloud Computing, JavaEE technologies.
</p>

<p>
Some of the languages and frameworks I have recently used are :
Javascript, Nodejs, AngularJS, D3JS, NVD3, Socket.io, JQuery, Underscore/Lodash,
JSPlumb, FabricJS, and many others.
HTML5, CSS3, Bootstrap, and several other front-end technologies to provide the
best user experience,
Python, Django, Flask.
MongoDB, Mongoose, Ming.
</p>

</layout>
