<layout>

<p>Hi there,</p>

I am Diaa Mohamed Kasem.  Web solutions developer. I have been developing many
systems using many languages throughout my career.

<h3>2001 - 2003</h3>
Started to learn about networking, and assembly language. Studied CCNA and
RedHat linux.

<h3>2003-2004</h3>
Got into Faculty of computers and information sciences, where I learned Object
oriented programming using C++ and C#. 

<h3>2004-2011</h3>
Studied JAVA and created many wonderful solutions. 

<h3>2004-2007</h3>
Studied PHP and its frameworks. I have used PHP in several Freelancing jobs.

<h3>2011-NOW</h3>
Applied Javascript knowledge I had previouslly gained, and studied it more.
And studied python as well.

</layout>
