<layout>
<div class="row">

  <div class="col-sm-8 col-md-6 col-lg-6">
    <h2> Hi There, </h2>
  </div>

  <div class="pull-right" style="margin-top: 20px;">
    <b>{{now()}}</b>
  </div>

</div>

<div class="row">
  <div class="col-xs-11 col-xs-offset-1">
    <p>
    I am Diaa Mohamed Kasem.  Web solutions developer. I have been developing
    systems using many languages throughout my career.
    </p>
    <p>I am specialized at Javascript. You can hire me at <a href="https://www.odesk.com/users/~019c6c183545f26f3f">oDesk</a></p>

    <p>
    I have joined <a href="#/career">several excellent companies</a>,
    where I have applied Javascript, Python, Cloud Computing, JavaEE technologies.
    </p>

    <p>
    Some of the languages and frameworks I have recently used are :
    Javascript, Nodejs, AngularJS, D3JS, NVD3, Socket.io, JQuery, Underscore/Lodash,
    JSPlumb, FabricJS, and many others.
    HTML5, CSS3, Bootstrap, and several other front-end technologies to provide the
    best user experience,
    Python, Django, Flask.
    MongoDB, Mongoose, Ming.
    </p>

  </div>
</div>

<div class="row">
  <div class="col-xs-offset-10 col-xs-2">
    Best Regards,
  </div>
</div>

<div class="row">
  <div class="col-xs-offset-10 col-xs-2">
    Diaa Kasem
  </div>
</div>

</layout>
