<layout>
<h3>2001 - 2003</h3>
<p>
Started to learn about networking, and assembly language. Studied CCNA and
RedHat linux.
</p>

<h3>2003-2004</h3>
<p>
Got into Faculty of computers and information sciences, where I learned Object
oriented programming using C++ and C#. 
</p>

<h3>2004-2011</h3>
<p>
Studied JAVA and created many wonderful solutions. 
</p>

<h3>2004-2007</h3>
<p>
Studied PHP and its frameworks. I have used PHP in several Freelancing jobs.
</p>

<h3>2011-NOW</h3>
<p>
Applied Javascript knowledge I had previouslly gained, and studied it more.
And studied python as well.
</p>
</layout>
